:root { --menuColour: #ffffff;  
    --currentTheme: #c2185b;
}

/*  Scrollbar   */
::-webkit-scrollbar { 
    width: 6px; 
}
::-webkit-scrollbar-track { 
    background: #f1f1f100; 
}
::-webkit-scrollbar-thumb {
    background: #c2185b;
    border-radius: 3px;
    transition: all 0.5s ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    margin-top: 50px;
    text-align: center;
}

.text-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: #c2185b;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Montserrat';
    color: white;
    font-weight: 100;
    font-size: 16px;
}

button {
    font-family: "Poppins", sans-serif;
    background-color: #c2185c17;
    width: 200px;
    height: 50px;
    color: #c2185b;
    border-radius: 15px;
    border: 1px solid #c2185b;
    font-size: 18px;
    transition: all 0.2s ease-out;
}

button:hover {
    background-color: #c2185c7d;
}

/*  Body    */
body {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color:#121212;
}

td {
    border: 0.5px solid rgb(123, 123, 123);
    height: 150px;
    width: 150px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #25252500;
    transition: all 0.5s ease-in-out;
}

.hover:hover .mark {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
    transform: rotateX(30deg) rotateZ(-30deg);
    margin-top: 100px;
    margin-bottom: 50px;
}

.mark {
    width: 90%;
    height: 90%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.win {
    background-color:#353535;
}

.mark-applied {
    width: 90%;
    height: 90%;
    opacity: 1;
    filter: drop-shadow(-5px 3px 10px rgb(0, 0, 0));
    animation: placeMark 0.2s ease-in-out forwards;
}

@keyframes placeMark {
    0% {
        width: 90%;
        height: 90%;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 90%;
        height: 90%;
    }
}

table tr:first-child td{
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

a {
    text-decoration: none;
    color: #c2185b;
    font-weight: bold;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #c2185b;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#Result {
    font-style: italic;
}

@media only screen and (max-width: 500px) {

    table {
        margin-top: 150px;
    }

    td {
        width: 70px;
        height: 70px;
        border: 2px solid rgb(68, 68, 68);
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-container h1 {
        font-size: 24px;
    }

    h2 {
        width: 70%;
        font-size: 16px;
    }
    
    button {
        margin-bottom: 20px;
    }
}